<div class="header">
	<h2>Log in</h2>
</div>
<form method="post" action="/sessions/create" role="form">  
	<div class="form-group">
	    <label for="email-input" class="control-label">Email address</label>
		<input id="email-input" name="email" class="form-control" type="text"/>
	</div>
 	<div class="form-group">
		<label for="password-input" class="control-label">Password</label>
		<input id="password-input" name="password" class="form-control" type="password"/>
	</div>
 	<div class="form-group">
	    <button type="submit" class="btn btn-theme-1 col-xs-6 submit">Log in</button>
	    <a id="need-account" href="" class="col-xs-12">Need an account?</a>
	</div>
</form>