<div class="header">
	<h2>Create an Account</h2>
</div>
<form method="post" action="/users" role="form">
	<div class="form-group">
		<label for="username-input" class="control-label">Username</label>
		<input id="username-input" name="username" class="form-control" type="text"/>
	</div>
	<div class="form-group">
	    <label for="email-input" class="control-label">Email address</label>
		<input id="email-input" name="email" class="form-control" type="text"/>
	</div>
	<div class="form-group">
		<label for="password-input" class="control-label">Password</label>
		<input id="password-input" name="password" class="form-control" type="password"/>
	</div>
	<div class="form-group">
	    <button type="submit" class="btn btn-theme-1 col-xs-6 submit">Register</button>
		<br/>
	    <a id="have-account" href="" class="col-xs-12">Already have an account?</a>
	</div>
</form>