<form method="post" action="/users" class="form-inline" role="form">
    <label for="email-input" class="col-sm-12 col-md-12 col-lg-12 control-label">Email address</label>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<input id="email-input" name="email" class="form-control" placeholder="Email" type="text"/>
	</div>
	<label for="username-input" class="col-sm-12 col-md-12 col-lg-12 control-label">Username</label>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<input id="username-input" name="username" class="form-control" placeholder="Username" type="text"/>
	</div>
	<label for="password-input" class="col-sm-12 col-md-12 col-lg-12 control-label">Password</label>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<input id="password-input" name="password" class="form-control" type="password"/>
	</div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
</form>