<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<%= render 'users/new' %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<%= render 'sessions/create' %>
		</div>
	</div>
</div>