<% content_for :head do %>
	<%= javascript_include_tag "welcome" %>
	<%= stylesheet_link_tag "welcome" %>
<% end %>

<div id="band-1" class="row">
	<div id="welcome-form" class="col-sm-4 col-sm-offset-1">
	</div>
</div>
