@import "colors";

#lobby-container {
	background-color: $theme2;
}

#filters-container {
	min-height: 100px;
}

#filters-container .horizontal-divider {
	width: 100%;
	height: 1px;
	border-top: solid 1px darken($theme2, 30%);
	border-bottom: solid 1px lighten($theme2, 20%);
	margin:15px 0px 5px 0px;
}

#search input {
	margin-top:15px;
}

#filters .btn {
	margin-bottom:10px;
	text-align: left;
}

#filters .filter-label {
	color: $white;
}

#filters .input-group {
	margin-bottom: 10px;
}

#filters .input-group-addon {
	background-color: $theme1;
	border-color: $theme1;
	color: $white;
}

#filters h5 {
	color: $white;
}

#contest-table .first {
	padding-left: 15px;
}

#contest-table .last {
	padding-right: 15px;
}

#contest-table .sortable {
	cursor: pointer;
}

#contest-table tr:last-child td {
	border-bottom: 1px solid #DDD ;
}

#contest-table-container {
	padding: 0px;
	margin-right:-1px;
}

#contest-table-container .pagination {
	margin: 10px 0px 6px 0px;
	padding-right: 15px;
}

#contest-table-container .pagination > li > a,
#contest-table-container .pagination > li > a:hover,
#contest-table-container .pagination > li > a:focus {
	color: $theme2;	
}

#contest-table-container .pagination > .active > a,
#contest-table-container .pagination > .active > a:hover,
#contest-table-container .pagination > .active > a:focus {
	font-weight: bold;	
}

#contest-table-container .pagination > .disabled > a,
#contest-table-container .pagination > .disabled > a:hover,
#contest-table-container .pagination > .disabled > a:focus {
	cursor: default;
}

#contest-table-container .pagination-detail {
	margin: 17px 0px;
	padding-left: 15px;
	font-weight: bold;
	color: $theme2;
}

#contest-table-container .fixed-table-after {
	background-color: $white;
}

