@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

.navbar {
	margin-bottom: 0px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
}

.navbar-inverse {
	background-color: #333;
}

.navbar-brand {
	height: 60px;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.table {
	margin-bottom: 0px;
}

.table-responsive {
	margin-bottom: 0px;
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: #ffffff;
}

.table-striped > thead {
  background-color: #ffffff;
}


.btn-theme-1 {
	color: $white;
	background-color:$theme1;
}

.btn-theme-1:active,
.btn-theme-1:hover,
.btn-theme-1:focus,
.btn-theme-1.active {
	color: $white;
	background-color:darken($theme1, 5%);
}
.btn-theme-1.active {
	box-shadow: none;
	background-color:$theme3;
}


.btn-theme-2 {
	color: $white;
	background-color:$theme2;
}

.btn-theme-2:active,
.btn-theme-2:hover,
.btn-theme-2:focus,
.btn-theme-2.active {
	color: $white;
	background-color:darken($theme2, 6%);
}