<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="navbar-brand" class="navbar-brand" href="/">Daily LCS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a id="navbar-profile" href="/profile">Profile</a></li>
        <% end %>
        <!-- No link to the about page for now
        <li><a id="navbar-about" href="/about">About</a></li> 
        -->
        <% if current_user %>       
          <li><a id="navbar-logout" href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>