<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="navbar-container" class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="FantasyBlitz" src="assets/fblargewhite.png" height="40">
      </a>  
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a id="navbar-profile" href="/profile">Profile</a></li>
        <% end %>
        <!-- No link to the about page for now
        <li><a id="navbar-about" href="/about">About</a></li> 
        -->
        <% if current_user %>       
          <li><%= link_to "Logout", logout_path, :method => "delete", :id => "navbar-logout"  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>